{% extends 'encabezado.html'%}
{% load crispy_forms_tags %}
{% block content %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
  danger
</div>
{% endif %}

<h3>Registro</h3>
<br>
<form action="{% url 'guardar' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  {% if mensaje %}
  <div class="alert alert-success" role="alert" >
    Guardado
  </div>
  {% endif %}
  {{ form|crispy }}
  <br>
  <button type="submit" class="btn btn-primary">Guardar</button>
  <a class="btn btn-dark" href="{% url 'listar' %}">Cancelar</a>
</form>
{% endblock %}